$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
h1 {
  font-family: $font-stack;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 30px;
}